<ion-header>
  <ion-toolbar>
    <ion-title>Products</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/cart">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        @if (cartService.itemCount() > 0) {
        <ion-badge color="danger">{{ cartService.itemCount() }}</ion-badge>
        }
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let product of products">
      <div slot="start" class="custom-svg-container" [innerHTML]="getSafeIcon(product.icon)"></div>

      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>Price: {{ product.price.value }}</p>
        <p>Stock: {{ product.numInStock }}</p>
      </ion-label>

      <div slot="end" class="qty-controls">
        <ion-button fill="clear" (click)="decrement(product)">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>

        <ion-button fill="clear" [disabled]="product.numInStock <= 0" (click)="increment(product)">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </div>

      <ion-button slot="end" (click)="addToCart(product)">
        Add to Cart
        <ion-icon slot="end" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Hint: Use IonList, IonCard, or IonGrid to display products -->
  <!-- Hint: HTML can be rendered using [innerHTML] -->
</ion-content>
