<ion-header>
  <ion-toolbar>
    <ion-title>Products</ion-title>
    <ion-buttons slot="end">
      <ion-badge color="danger" *ngIf="vm.cartCount() > 0"
        >Cart items: {{ vm.cartCount() }}</ion-badge
      >
      <ion-button routerLink="/cart">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    @for (product of vm.products(); track product.id) {
    <ion-item>
      <div
        slot="start"
        class="custom-svg-container"
        [innerHTML]="vm.getSafeIcon(product.icon)"
      ></div>

      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>Price: {{ formatPrice(product.price) }}</p>
        <p>Stock: {{ stock(product) }}</p>
      </ion-label>

      <div *ngIf="vm.itemCountOf(product.id)() > 0" class="qty-controls">
        <ion-button
          fill="clear"
          size="medium"
          color="{{ vm.itemCountOf(product.id)() === 1 ? 'danger' : 'primary' }}"
          (click)="vm.removeFromCart(product.id)"
        >
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>

        <ion-text> {{ vm.itemCountOf(product.id)() }} </ion-text>

        <ion-button
          fill="clear"
          size="medium"
          [disabled]="stock(product) <= 0"
          (click)="vm.addToCart(product)"
        >
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </div>

      <ion-button slot="end" [disabled]="stock(product) <= 0" (click)="vm.addToCart(product)">
        Add to Cart
        <ion-icon slot="end" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
    } @empty {
    <ion-label> No products available. </ion-label>
    }
  </ion-list>
</ion-content>
