/*
 * App Global CSS
 * Add styles here that you want to apply globally.
 */

@import '@ionic/angular/css/core.css';
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

.custom-svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;

  svg {
    width: 100%;
    height: 100%;
  }
}
